body {
  background-image: url("../public/assets/rombo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -100px; /* Ajusta la altura según tus necesidades */
}

/* Cambia el color del scroll en navegadores compatibles */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color del scroll */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Color del scroll al pasar el cursor sobre él */
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@300&family=Playfair&display=swap');

h1, h2, div, p, section {
  font-family: 'Montserrat', serif;
}
